* { /*reseteo*/
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.81);
    text-align: justify;
    margin: 0.5rem;
}

.nav-container {
    display: flex;
    background-color: rgb(0, 0, 0);
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.nav-container li {
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin: 1rem;
    flex: auto;
}

.container-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.container-section div {
    list-style-type: none;
    text-align: justify;
    overflow: hidden;
}

.subtitulos {
    color: rgb(208, 0, 0);
    text-transform: uppercase;
}

.header-bannerPpal { /*banner de la pagina principal*/
    background-image: url(http://www.uv.es/recursos/fatwirepub/ccurl/1020/145/bannerprincipal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*para que la imagen no tenga huecos*/
    height: 180px;
}

.header-bannerSec { /*banner de las paginas secundarias*/
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fdiferenciando.com%2Fwp-content%2Fuploads%2F2020%2F10%2FQuimica_orgnanica.jpg&f=1&nofb=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: red;
}

header, main, section, aside, footer {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.titulo {
    text-align: center;
    padding: 70px;
    font-size: 65px;
}

.intro { /*introduccion del curso-ubicado en la pagina ppal*/
    background-image: url(https://allegra.flowersetcfresno.com/pic/6022053_full-imagenes-estructuras-quimicas-fondo-pantalla-la-perfeccion-del-vector-wallpaper-garabatos-de-quimica-en-blanco.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}

.formulario {
    padding: 0.5rem;
    border: solid;
    border-color: black;
}

.imagenDeFondo { /*imagen de fondo de "organica1"*/
    background-image: url(https://4.bp.blogspot.com/-lO461qlKu0Y/Vw2YZHc6toI/AAAAAAAABUk/7BiSFf2tcXgkwyzhX7jzB92i6ShhYoNNwCLcB/s1600/estructura-quimica.gif);
    background-size: 800px 800px; /*widht height*/
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.imagenDeFondo2 { /*imagen de fondo de "organica2"*/
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fd%2Fd1%2F1%252C2%252C3-Trimethylbenzene-3D-balls.png%2F100px-1%252C2%252C3-Trimethylbenzene-3D-balls.png&f=1&nofb=1);
    background-size: 600px 600px;
    background-position: right;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.medidaSec { /*medida de la lectra del contenido secundario*/
    font-size: 16px;
}

.containerFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

input:hover {
    width: 150px;
    font-size: 14px;
}

/*responsive, transformaciones y transiciones- clase 8*/
@media(min-width: 320px){ /*mobile*/
    body {
        background-image: linear-gradient(-45deg, green, yellow);
        font-size: 12px;
    }
    
    .intro {
        background-image: none;
    }

    .container-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 1fr 0.6fr 1fr 0.7fr 1fr 1fr 0.5fr;
    }
    
    .img1 {
        width: 13rem;
        height: 7rem;
    }

    .img2 {
        width: 13rem;
        height: 6rem;
    }

    .img3 {
        width: 13rem;
        height: 6rem;
    }

    .img4 {
        width: 13.5rem;
        height: 7rem;
    }

    .transformaciones {
        background-color: greenyellow;
        animation-name: animacion;
        animation-duration: 6s;
        position: relative;
        animation-direction: normal;
        animation-iteration-count: infinite;
    }

    @keyframes animacion {
        0% {
            background-color: rgb(53, 235, 53);
            left: 0px;
            top: 0px;
        }
    
        25% {
            background-color: greenyellow;
            left: 100px;
            top: 0px;
        }
    
        50% {
            background-color: rgb(53, 235, 53);
            left: 0px;
            top: 0px;
        }
    }

    .titulo {
        font-size: 20px;
        padding: 1rem;
        color: green;
    }

    .header-bannerPpal {
        height: 87px;
    }

    .nav-container {
        background-color: greenyellow;
        display: flex;
        flex-direction: column;
    }

    .nav-container li {
        background-image: linear-gradient(to right, yellow, green);
        font-size: 12px;
        transition: background 400ms ease-in-out;
        cursor: pointer;
    }
    
    .nav-container li:hover {
        background-position: 300px;
    }

    .nav-container li a {
        text-decoration: none;
        color: black;
    }

    .nav-container li a:hover {
        color: honeydew;
    }

    .containerFooter div {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        margin-right: 5.2px;
        margin-left: 5.2px;
    }

    .formulario {
        border: 4px solid green;
        border-radius: 1rem;
    }

    .button {
        cursor: pointer;
        width: 90px;
        border-radius: 3rem;
        background-image: linear-gradient(-45deg, green, yellow);
        transition: background 400ms ease-in-out;
    }
    
    .button:hover {
        color: white;
        background-position: 150px;
    }

    /*paginas secundarias*/
    .medidaSec { /*medida de la letra*/
        font-size: 12px;
    }

    .tituloDos {
        text-align: center;
        font-size: 40px;
        color: rgb(44, 255, 44);
        padding: 1rem;
    }

    .header-bannerSec {
        height: 100px;
    }

    .imagenDeFondo {
        background-size: 170px 200px;
    }

    .imagenDeFondo2 {
        background-size: 150px 150px;
    }

    .subtitulos {
        color: white;
        font-size: 14px;
    }
}

@media(min-width: 768px){ /*tablet*/
    body {
        background: linear-gradient(-45deg, rgba(58, 48, 242) 0%, rgba(33,218,236,1) 100%);
        font-size: 18px;
    }
    
    .intro {
        background-image: none;
    }

    .container-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr 1fr 1fr 1.2fr 1fr 1.6fr 0.5fr;
    }
    
    .img1 {
        width: 48rem;
        height: 24rem;
    }

    .img2 {
        width: 46rem;
        height: 18rem;
    }

    .img3 {
        width: 47rem;
        height: 20rem;
    }

    .img4 {
        width: 46rem;
        height: 28rem;
    }

    .transformaciones {
        background: transparent;
        animation: none;
    }

    .transformaciones:hover {
        background: linear-gradient(-45deg, rgba(58, 48, 242) 0%, rgba(33,218,236,1) 100%);
    }

    .titulo {
        font-size: 50px;
        padding: 1rem;
        color: blue;
    }

    .header-bannerPpal {
        height: 200px;
    }

    .nav-container {
        background-color: blue; 
        display: flex;
        flex-direction: row;
    }
    .nav-container li {
        background: rgb(30,18,233);
        background: linear-gradient(-45deg, rgb(58, 48, 242) 0%, rgba(33,218,236,1) 100%);
        font-size: 18px;
        transition: background 400ms ease-in-out;
        cursor: pointer;
    }

    .nav-container li:hover {
        background-position: 300px;
    }

    .nav-container li a {
        text-decoration: none;
        color: black;
    }

    .nav-container li a:hover {
        color: honeydew;
    }

    .containerFooter div {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        margin-right: 5.2px;
        margin-left: 5.2px;
    }

    .formulario {
        border: 4px solid blue;
        border-radius: 2rem;
    }

    .button {
        cursor: pointer;
        width: 90px;
        border-radius: 3rem;
        background: linear-gradient(-45deg, rgb(58, 48, 242) 0%, rgba(33,218,236,1) 100%);
        transition: background 400ms ease-in-out;
    }
    
    .button:hover {
        color: white;
        background-position: 150px;
    }

    /*paginas secundarias*/
    .medidaSec { /*medida de la letra*/
        font-size: 18px;
    }

    .tituloDos {
        text-align: center;
        font-size: 60px;
        color: blue;
        padding: 2rem;
    }

    .header-bannerSec {
        height: 150px;
    }

    .imagenDeFondo {
        background-size: 470px 500px;
    }

    .imagenDeFondo2 {
        background-size: 450px 450px;
    }

    .subtitulos {
        color: white;
        font-size: 20px;
    }
}

@media(min-width: 1200px){ /*escritorio*/
    body {
        background: linear-gradient(-45deg, rgba(255, 47, 47) 33%, rgba(252,176,69,1) 100%);
        font-size: 24px;
    }
    
    .intro {
        background-image: none;
    }

    .container-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 2fr 2fr;
    }
    
    .img1 {
        width: 36rem;
        height: 17rem;
        transform: none;
    }

    .img2 {
        width: 36rem;
        height: 15rem;
        transform: none;
    }

    .img3 {
        width: 36rem;
        height: 18rem;
        transform: none;
    }

    .img4 {
        width: 36rem;
        height: 28rem;
        transform: none;
    }

    .transformaciones {
        background: transparent;
        animation-name: animacion;
        animation-duration: 5s;
        position: relative;
        animation-direction: normal;
        animation-iteration-count: infinite;
    }

    .transformaciones:hover {
        background: transparent;
        background-color: rgb(255, 166, 42);
    }

    @keyframes animacion {
        0% {
            left: 0px;
            top: 0px;
        }
    
        25% {
            left: 0px;
            top: 80px;
        }
    
        50% {
            left: 0px;
            top: 0px;
        }
    }

    .titulo {
        font-size: 60px;
        padding: 2rem;
        color: red;
    }

    .header-bannerPpal {
        height: 200px;
    }

    .nav-container {
        background-color: orangered; 
        display: flex;
        flex-direction: row;
    }

    .nav-container li {
        background: rgb(253,29,29);
        background: linear-gradient(-45deg, rgb(255, 47, 47) 33%, rgba(252,176,69,1) 100%);
        font-size: 24px;
        transition: background 400ms ease-in-out;
        cursor: pointer;
    }

    .nav-container li:hover {
        background-position: 300px;
    }

    .nav-container li a {
        text-decoration: none;
        color: black;
    }

    .nav-container li a:hover {
        color: honeydew;
    }

    .containerFooter {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .containerFooter div {
        text-align: center;
    }

    .formulario {
        border: 4px solid rgb(138, 0, 0);
        border-radius: 2rem;
    }

    .button {
        cursor: pointer;
        width: 90px;
        border-radius: 3rem;
        background: linear-gradient(-45deg, rgb(255, 47, 47) 33%, rgba(252,176,69,1) 100%);
        transition: background 400ms ease-in-out;
    }
    
    .button:hover {
        color: white;
        background-position: 150px;
    }

    /*paginas secundarias*/
    .medidaSec { /*medida de la letra*/
        font-size: 24px;
    }

    .tituloDos {
        text-align: center;
        font-size: 100px;
        color: red;
        padding: 2rem;
    }

    .header-bannerSec {
        height: 200px;
    }

    .imagenDeFondo {
        background-size: 670px 700px;
    }

    .imagenDeFondo2 {
        background-size: 650px 650px;
    }

    .subtitulos {
        color: white;
        font-size: 26px;
    }
}







